<!--Cabecera en formato de angular material con enlaces a los path de los Routers-->
<mat-toolbar color="primary" class="cabecera">
  <ul>
    <li id="iconoHome">
      <a routerLink="principal">
        <button mat-icon-button color="basic">
          <mat-icon>home</mat-icon>
        </button>
      </a>
    </li>
    <li><a routerLink="listarJuegos">Listar Juegos</a></li>
    <li><a routerLink="crearJuegos">Crear Juegos</a></li>
    <li><a routerLink="Login">Login</a></li>
    <li><a routerLink="Logout">LogOut</a></li>
    <li id="iconoMenu">
      <button mat-button [matMenuTriggerFor]="menu">
        <button mat-icon-button color="basic">
          <mat-icon>menu</mat-icon>
        </button>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <a routerLink="listarUsuarios">Listar Usuarios</a>
        </button>
        <button mat-menu-item>
          <a routerLink="crearUsuarios">Crear Usuarios</a>
        </button>
      </mat-menu>
    </li>
  </ul>
</mat-toolbar>
